/* partie index */
* {
    box-sizing: border-box;

}

body {
    background-color: rgb(33, 31, 31);
    color: white;

}

body span {

    padding: 28px 0;
    margin: 0 5px;
    margin-left: 50px;
    width: 200px;
    height: 200px;


}

.div-nav {
    float: left;


}

img {
    margin-left: 60px;
    padding: 40px;
    margin-top: -50px;



}

nav {
    float: right;
    margin-top: -120px;
    margin-right: 100px;
}

nav a {
    padding: 0 30px;
    text-decoration: none;
    color: rgb(172, 6, 114);
    font-size: x-large;



}

nav a:hover {
    color: rgb(172, 6, 114);
    opacity: .5;
    text-decoration: underline;
}

nav a:active {
    font-weight: bold;
}



.container {
    width: 800px;
    height: 200px;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);



}

.container a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: rgb(172, 6, 114);
    margin-top: 10px;
    font-size: x-large;
    position: relative;

}

.container a:hover::before {
    width: 20%;
}

.container a::before {
    content: '';
    position: absolute;
    left: 0;
    margin-left: 320px;
    height: 150%;
    width: 2px;
    background-color: white;
    text-align: center;
    z-index: -1;
    transition: .2s all;

}

.container a:hover {
    text-decoration: none;
    width: 100%;

}


.box img {
    width: 100%;
    margin-left: -10px;
}

.box {

    width: 300px;
    height: 200px;
    background-color: rgb(33, 31, 31);
    margin: 0 auto;
    margin-top: 70px;
    position: relative;
    display: inline-block;
    justify-content: center;
    margin: 0 90px;
    margin-top: 70px;
    padding: 10px 10px;
    text-align: center;

}

.box::before,
.box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(170deg, #ff0000, #00f0f0, #00ff00, #0000ff, #ff0000, #00f0f0, #00ff00, #0000ff, #f00f0f);
    width: 100%;
    height: 100%;
    background-size: 600%;
    z-index: -1;
    transform: scale(1.01);
    /* animation: animate 20s infinite;*/
}

.box::after {
    filter: blur(20px);
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 300% 0;
    }

    100% {
        background-position: 0 0;
    }
}

footer {
    width: 100%;
    height: 150px;
    margin-top: 30px;
    border-top: 2px solid rgb(172, 6, 114);

}

footer h3 {
    font-size: x-large;
    display: inline-block;
}

.vertical-line {
    border-left: 2px solid rgb(172, 6, 114);
    height: 200px;
    margin-top: 30px;
}

table {
    float: right;
}

/* styles pour les écrans de taille inférieure à 600px */
@media screen and (max-width: 1300px) {
    body {
        font-size: small;
    }

    nav {
        float: none;
        text-align: center;
    }

    nav a {
        display: block;
        margin: 5px 0;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .box {
        width: 90%;
        margin: 0 auto;
    }

    .box img {
        width: 50%;
    }
}

@media screen and (max-width: 1300px) {
    .box img {
        width: 50%;
    }
}

/* styles pour les écrans de taille inférieure à 480px */
@media screen and (max-width: 480px) {
    nav a {
        font-size: medium;
    }

    .container a {
        font-size: medium;
    }
}


.form-container {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(33, 31, 31);
    padding: 20px;
    text-align: center;
}


/*partie formulaire */
.form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
    box-shadow: 40px -16px rgb(172, 6, 114);
    box-shadow: 3px 3px red, -1em 0 .4em olive;


}


.form-title {
    text-align: center;
    margin-bottom: 1em;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1em;
}

.input-container label {
    width: 100%;
}

.input-field {
    width: 100%;
    padding: 0.5em;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
}

.submit-btn {
    width: 100%;
    background-color: olive;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

.submit-btn a {
    text-decoration: none;
    color: rgb(172, 6, 114);
    opacity: 1;

}

.submit-btn a:hover {
    opacity: .5;
    color: rgb(172, 6, 114);

}


/*partie cv */
.header-section {
    background-color: rgb(33, 31, 31);
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 40px -16px rgb(172, 6, 114);
}


.container-cv {
    width: 70%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 40px -16px rgb(172, 6, 114);
}

.col {
    flex: 1;
    margin: 10px;
    text-align: center;
    box-shadow: 3px 3px red, -1em 0 .4em olive;

}

.section-img {
    width: 30%;
    margin-bottom: 10px;
    float: right;
}

.section-text {
    float: left;
}

.section-text li {
    text-align: center;
}

@media (max-width: 600px) {
    .container-cv {
        width: 100%;
    }

    .col {
        flex: 1;
        width: 100%;
        margin: 5px;
    }

    .section-img {
        width: 50%;
        margin-bottom: 5px;
    }
}



/*partie portfolio*/
.section-por {
    padding: 20px;
    box-shadow: 40px -16px rgb(172, 6, 114);

}

.sub-section {
    box-shadow: 3px 3px red, -1em 0 .4em olive;
    padding: 10px;

    margin: 20px;
    padding-left: 30px;

}



.sub-section img {
    width: 15%;
    margin-right: 20px;


}

.section-por img {
    width: 15%;
    margin-right: 20px;


}


.body-portfolio h1,
h2,
h3,
h4 {
    text-align: center;
    color: rgb(172, 6, 114);

}


@media only screen and (max-width: 600px) {

    .section-por,
    .sub-section {
        font-size: 16px;
        padding: 10px;
    }
}



/* partie loisir */

.section-loisir {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 40px -16px rgb(172, 6, 114);
    box-shadow: 3px 3px red, -1em 0 .4em olive;

}

.section-loisir img {
    width: 30%;
    margin-right: 20px;

}

@media only screen and (max-width: 600px) {


    .section {
        font-size: 16px;
        padding: 10px;
    }

    .section-loisir img {
        width: 100%;
        margin-right: 0;
    }
}