<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Contact</title>
		<link rel="stylesheet" href="{{ asset('assets/style.css') }}">
	</head>
	<body class="body-form">
		<form class="form-container">
			<h2 class="form-title">Télécharger mon CV</h2>
			<div class="input-container">
				<label for="name">Nom :</label>
				<input type="text" id="name" name="name" required class="input-field" placeholder="Entrez votre nom">
			</div>
			<div class="input-container">
				<label for="prenom">Prénom :</label>
				<input type="text" id="prenom" name="prenom" required class="input-field" placeholder="Entrez votre prénom">
			</div>
			<div class="input-container">
				<label for="email">Adresse mail :</label>
				<input type="email" id="email" name="email" required class="input-field" placeholder="Entrez votre adresse e-mail">
			</div>
			<div class="input-container">
				<label for="societe">Nom de la société :</label>
				<input type="text" id="societe" name="societe" required class="input-field" placeholder="Entrez le nom de votre société">
			</div>
			<div class="input-container">
				<label for="telephone">Numéro de téléphone :</label>
				<input type="tel" id="telephone" name="telephone" required class="input-field" placeholder="Entrez votre numéro de téléphone">
			</div>
			<button type="submit" class="submit-btn">
				<a href="cv/CV-emploi.pdf">telecharger</a>
			</button>
		</form>
		<footer>
			<h3>
				<strong>
					©
				</strong>copyright ibidem iut roanne 2023</h3>
			<span class="vertical-line"></span>
			<table>
				<tr>
					<h3>
						Nous contacter</h3>
				</tr>

				<td>
					<a href="#"><img src="image/twitter.PNG" alt=""></a>
					<a href="#"><img src="image/insta.PNG" alt=""></a>
					<a href="#"><img src="image/youtube.PNG" alt=""></a>


				</td>
			</table>

		</footer>
		<script src="{{ asset('assets/app.js') }}"></script>
	</body>
</html></body></html></form></body></html>
