<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Mon cv</title>
		<link rel="stylesheet" href="{{ asset('assets/style.css') }}">


	</head>
	<body id="body-cv">
		<div class="header-section">
			<strong>
				<em>
					<h1>Expert en cybersécurité</h1>
				</em>
			</strong>
		</div>
		<div class="container-cv">
			<div class="row">
				<div class="col">
					<strong>
						<em>
							<h2>Formations</h2>
						</em>
					</strong>
					<img class="section-img" src="image/document.png" alt="Icone de formation">
					<ul class="section-text">
						<li>
							2022-2023<br>
							Préparation de la 1ère année de B.U.T. Réseau et Télécommunication, I.U.T.  Roanne,<br>
							Université de Jean Monnet Saint Etienne.
						</li><br>
						<li>2021-2022<br>1ère année de BTS Réseau informatique et télécommunication,<br>
							Institut international Polytechnique des Elites d’Abidjan (Côte d’Ivoire)</li><br>
						<li>2020-2021<br>
							Baccalauréat série D, Lycée de Garçons de Bingerville (Abidjan).

						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<strong>
						<em>
							<h2>Compétences</h2>
						</em>
					</strong>
					<img class="section-img" src="/image/competences.png" alt="Icone de compétence">
					<ul class="section-text">
						<li>HTML et CSS</li>
						<li>PYHON et LANGAGE C</li>
						<li>RESEAUX et ADMINISTRATION
						</li>
						<li>conception d'un reseau local
						</li>
						<li>Mise en place des routeurs et des switchs</li>
						<li>mise en place d'une securite via SSH</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<strong>
						<em>
							<h2>Expériences</h2>
						</em>
					</strong>
					<img class="section-img" src="image/vivre.png" alt="Icone d'expérience">
					<ul class="section-text">
						<li>Expert en cybersécurité - XYZ Inc.</li>
						<li>Stagiaire en cybersécurité - ABC Inc.</li>
						<li>programmation web</li>
						<li>conception d'un reseau local
						</li>
						<li>programmation
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<strong>
						<em>
							<h2>Loisirs</h2>
						</em>
					</strong>
					<img class="section-img" src="image/sports-de-balles.png" alt="Iconed'expérience">
					<ul class="section-text">
						<li>Football</li>
						<li>Basket-ball</li>
						<li>Tennis</li>
						<li>Mangas</li>
						<li>Gaming</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<strong>
						<em>
							<h2>Contact</h2>
						</em>
					</strong>
					<img class="section-img" src="image/communiquer.png" alt="Iconed'expérience">
					<ul class="section-text">
						<li>Diallo alpha , Etudianr en premiere année
						</li>
						<li>Email : monemail@domaine.com</li>
						<li>Téléphone : +33 (0)6 00 00 00 00</li>
						<li>Adresse : 12 rue de la réussite, 75000 Paris</li>
					</ul>
				</div>
			</div>
		</div>

		<footer>
			<h3>
				<strong>
					©
				</strong>copyright ibidem iut roanne 2023</h3>
			<span class="vertical-line"></span>
			<table>
				<tr>
					<h3>
						Nous contacter</h3>
				</tr>

				<td>
					<a href="#"><img src="image/twitter.PNG" alt=""></a>
					<a href="#"><img src="image/insta.PNG" alt=""></a>
					<a href="#"><img src="image/youtube.PNG" alt=""></a>


				</td>
			</table>

		</footer>
	</body>
</html></body></html>
