<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" href="{{ asset('assets/style.css') }}">


	</head>
	<body>

		<header classe="header-nav">
			<div classe="div-nav">
				<a href="#"><img src="image/pavillon.PNG" alt=""></a>

			</div>
			<nav>
				<span>
					<em>
						<strong>
							<a href="portfolio">Portfolio</a>
						</strong>
					</em>
				</span>

				<span>
					<em>
						<strong>
							<a href="cv">Mon CV</a>
						</strong>
					</em>
				</span>
				<span>
					<em>
						<strong>
							<a href="loisir">Loisirs</a>
						</strong>
					</em>
				</span>
				<span>
					<em>
						<strong>
							<a href="contact">Contact</a>
						</strong>
					</em>
				</span>
			</nav>
		</header>


		<div class="container">sfvsdbvhsbvhsdbvhsbvhsbbvhdbvncbvhjcxbvnbcxvbdsh
			<strong>
				<a href="loisir">en savoir plus
				</a>
			</strong>
		</div>


		<div class="box">
			nfbfvg</div>

		<div class="box">
			nfbfvg</div>

		<div class="box">
			nfbfvg</div>

		<footer></footer>
	</body>
</html></body></html>
