<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" href="{{ asset('assets/style.css') }}">


	</head>
	<body>

		<header classe="header-nav">
			<div classe="div-nav">
				<a href="#"><img src="image/pavillon.PNG" alt=""></a>

			</div>
			<nav>
				<span>
					<em>
						<strong>
							<a href="portfolio">Portfolio</a>
						</strong>
					</em>
				</span>

				<span>
					<em>
						<strong>
							<a href="cv">Mon CV</a>
						</strong>
					</em>
				</span>
				<span>
					<em>
						<strong>
							<a href="loisir">Loisirs</a>
						</strong>
					</em>
				</span>
				<span>
					<em>
						<strong>
							<a href="loisir">Contact</a>
						</strong>
					</em</span>
				</nav>
			</header>


			<div class="container">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nulla rem voluptatem, minus esse sed labore perspiciatis aut autem voluptas expedita nesciunt possimus totam, est nam vel laudantium. Assumenda, voluptates.</div>


			<div class="moi">
				<a href="portfolio">Portfolio</a>
			</div>
		</body>
	</body>
</html>
