<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Loisirs</title>
		<link rel="stylesheet" href="{{ asset('assets/style.css') }}">
	</head>
	<body>
		<h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, mollitia amet? Tempora dignissimos ullam maiores accusantium sint. Unde necessitatibus doloribus obcaecati perferendis, excepturi magnam enim modi voluptates similique nostrum corrupti?</h1>
	</body>
</html>
