<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Loisirs</title>
		<link rel="stylesheet" href="{{ asset('assets/style.css') }}">
	</head>
	<body>
		<div class="header-loisir">
			<h1>Mes loisirs</h1>
		</div>
		<div class="section-loisir">
			<img src="image/lecture.png" alt="book">
			<strong>
				<em>
					<h2>Lecture</h2>
				</em>
			</strong>
			<p>J'aime lire des romans de science-fiction et de fantasy, ainsi que des livres de développement personnel.</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem officiis doloremque dolorem aut, ipsa modi ut ullam iusto corporis labore libero suscipit aliquid soluta impedit! Tempora, numquam? In, cupiditate optio.</p>
		</div>
		<div class="section-loisir">
			<img src="image/manette-de-jeu.png" alt="jeux">
			<strong>
				<em>
					<h2>Gaming</h2>
				</em>
			</strong>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est id dolorum enim in sit nobis consequatur vitae a nisi corrupti! Minus eligendi magnam maiores beatae ipsum, impedit quae et sapiente!.</p>
		</div>
		<div class="section-loisir">
			<img src="image/des-sports.png" alt="book">
			<strong>
				<em>
					<h2>sports</h2>
				</em>
			</strong>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, labore. Laboriosam inventore, nisi ullam facilis quisquam quos impedit eos harum vitae hic dignissimos earum ipsa laudantium saepe dicta cum neque.</p>
		</div>
		<footer>
			<h3>
				<strong>
					©
				</strong>copyright ibidem iut roanne 2023</h3>
			<span class="vertical-line"></span>
			<table>
				<tr>
					<h3>
						Nous contacter</h3>
				</tr>

				<td>
					<a href="#"><img src="image/twitter.PNG" alt=""></a>
					<a href="#"><img src="image/insta.PNG" alt=""></a>
					<a href="#"><img src="image/youtube.PNG" alt=""></a>


				</td>
			</table>

		</footer>
	</body>
</html>
