<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>porfolio</title>
		<link rel="stylesheet" href="{{ asset('assets/style.css') }}">
	</head>
	<body class "body-portfolio">
		<div class="header">
			<strong>
				<em>
					<h1>Mon portfolio de compétences</h1>
				</em>
			</strong>
		</div>
		<div class="section">
			<strong>
				<em>
					<h2>Compétences</h2>
				</em>
			</strong>
			<div class="sub-section">
				<strong>
					<em>
						<h3>Compétences en développement web</h3>
					</em>
				</strong>
				<ul>
					<li>HTML</li>
					<li>CSS</li>
					<li>JavaScript</li>
				</ul>
			</div>
			<div class="sub-section">
				<strong>
					<em>
						<h3>Compétences en développement logiciel</h3>
					</em>
				</strong>
				<ul>
					<li>Java</li>
					<li>C#</li>
					<li>Python</li>
				</ul>
			</div>
			<div class="sub-section">
				<strong>
					<em>
						<h3>Compétences en gestion de projet</h3>
					</em>
				</strong>
				<ul>
					<li>Scrum</li>
					<li>Kanban</li>
					<li>Gestion de projet Agile</li>
				</ul>
			</div>
		</div>
		<div class="section" style=" box-shadow: 3px 3px red, -1em 0 .4em olive">
			<strong>
				<em>
					<h2>Projets</h2>
				</em>
			</strong>
			<ul>
				<li>Mon site web personnel</li>
				<li>Projet de groupe pour le cours de développement web</li>
			</ul>
		</div>
		<footer>
			<h3>
				<strong>
					©
				</strong>copyright ibidem iut roanne 2023</h3>
			<span class="vertical-line"></span>
			<table>
				<tr>
					<h3>
						Nous contacter</h3>
				</tr>

				<td>
					<a href="#"><img src="image/twitter.PNG" alt=""></a>
					<a href="#"><img src="image/insta.PNG" alt=""></a>
					<a href="#"><img src="image/youtube.PNG" alt=""></a>


				</td>
			</table>

		</footer>
	</body>
</html>
